{% load static %}
<div id="contact-form" class="grid gap-4 sm:grid-cols-2 sm:gap-6">
  <div x-data="{
      fileInput: null,
      image: null,
      previewImage(event) {
        const file = event.target.files[0];
        if (file && file.type.includes('image')) {
          const url = URL.createObjectURL(file);
          this.image.src = url;
        }
      }
    }" x-init="fileInput = $refs.fileInput; image = $refs.profileImage"
    class="sm:col-span-2 flex flex-col sm:flex-row gap-4 sm:justify-between">
    <div class="flex flex-col items-center ">
      <label for="profile-image" class="block w-fit mb-2 text-sm font-medium text-gray-900">Profile Image</label>
      <img x-ref="profileImage" id="profile-image" class="w-20 h-20 border border-gray-500 object-cover rounded-full bg-primary" {% if
        contact and contact.image %} src="{{ contact.image.url }}" {% else %} src="{% static 'img/image-placeholder.png' %}" {% endif %}
        alt="Profile Image">
    </div>
    <div class="flex flex-col justify-end">
      <label class="block mb-2 text-sm font-medium text-gray-900 sm:text-right" for="file_input">Upload image</label>
      {{ form.image }}
      <p class="mt-1 text-xs text-gray-500 text-right" id="file_input_help">Supports only PNG, JPG or WEBP files.</p>
    </div>
  </div>
  <div class="w-full">
    <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 ">First Name</label>
    {{ form.first_name }}
  </div>
  <div class="w-full">
    <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
    {{ form.last_name }}
  </div>
  <div class="sm:col-span-2">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
    {{ form.email }}
  </div>
  <div class="w-full">
    <label for="location" class="block mb-2 text-sm font-medium text-gray-900 ">Location</label>
    {{ form.location }}
  </div>
  <div>
    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 ">Type</label>
    {{ form.type }}
  </div>
</div>