{% load static %}
<div id="contact-create-form" class="grid gap-4 sm:grid-cols-2 sm:gap-6">
  <div class="sm:col-span-2 flex justify-between">
    <div>
      <label for="profile-image" class="block w-fit mb-2 text-sm font-medium text-gray-900">Profile Image</label>
      <img id="profile-image" class="w-20 h-20 border border-gray-500 object-cover rounded-full bg-primary"
        src="{% static 'img/image-placeholder.png' %}" alt="Profile Image">
    </div>
    <div class="self-end">
      <label class="block mb-2 text-sm font-medium text-gray-900 text-right" for="file_input">Upload file</label>
      {{ form.image }}
      <p class="mt-1 text-xs text-gray-500 text-right" id="file_input_help">Supports only PNG, JPG or WEBP files.</p>
    </div>
  </div>
  <div class="w-full">
    <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 ">First Name</label>
    {{ form.first_name }}
  </div>
  <div class="w-full">
    <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
    {{ form.last_name }}
  </div>
  <div class="sm:col-span-2">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
    {{ form.email }}
  </div>
  <div class="w-full">
    <label for="location" class="block mb-2 text-sm font-medium text-gray-900 ">Location</label>
    {{ form.location }}
  </div>
  <div>
    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 ">Type</label>
    {{ form.type }}
  </div>

</div>