{% extends 'layouts/b.html' %}
{% load templatetags %}
{% load static %}

{% block title %}View Contact -{% endblock title %}

{% block content %}
<section class="bg-white">
  <div class="py-8 mx-auto md:max-w-[70%] md:py-16 flex flex-col md:flex-row items-center justify-between gap-10">
    <div class="w-1/3">
      {% if contact.image %}
      <img class="object-contain border border-gray-300 size-fit" src="{{ contact.image.url }}" alt="">
      {% else %}
      <img class="object-contain border border-gray-300 size-fit" src="{% static 'img/image-placeholder.png' %}" alt="">
      {% endif %}
    </div>
    <div class="w-2/3">
      <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl ">{{ contact }}</h2>
      <p class="mb-4 text-base font-normal leading-none text-gray-700 ">{{ contact.contact_id|format_contact_id }}</p>
      <hr>
      <dl class="mt-4">
        <dt class="mb-2 font-semibold leading-none text-gray-900">Email</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5">{{ contact.email }}</dd>
      </dl>
      <dl class="flex items-center justify-between space-x-6">
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 ">Type</dt>
          <dd
            class="mb-4 text-sm font-medium px-2.5 py-0.5 rounded {% if contact.type == 'LEAD' %}bg-blue-200 text-blue-800{% elif contact.type == 'PROSPECT' %}bg-yellow-200 text-yellow-800{% else %}bg-green-200 text-green-800{% endif %} sm:mb-5 ">
            {{ contact.type }}</dd>
        </div>
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 text-right">Location</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 text-right">{{ contact.location }}</dd>
        </div>
      </dl>
      <dl class="flex items-center justify-between space-x-6">
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 ">Created By</dt>
          <dd
            class="mb-4 font-light text-gray-500 sm:mb-5">
            {% if contact.created_by %}
            {{ contact.created_by.username }}
            {% else %}
            No Data Found
            {% endif %}
          </dd>
        </div>
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 text-right">Created On</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 text-right">{{ contact.created_at }}</dd>
        </div>
      </dl>
      <dl class="flex items-center justify-between space-x-6">
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 ">Last Updated By</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5">
            {% if contact.updated_by %}
            {{ contact.updated_by.username }}
            {% else %}
            No Data Found
            {% endif %}
          </dd>
        </div>
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 text-right">Last Updated On</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 text-right">{{ contact.updated_at }}</dd>
        </div>
      </dl>
      <div class="flex items-center space-x-4">
        <a href="{% url 'a_contacts:contact-update' contact.pk %}"
          class="w-[80px] text-white inline-flex justify-center items-center bg-primary-500 hover:bg-primary-700 select-none font-medium rounded-lg text-sm px-4 py-2 text-center transition-transform duration-300 active:scale-95">
          Edit
        </a>
        <a @click="showModal = true" hx-get="{% url 'a_contacts:contact-delete' contact.pk %}" hx-target="#modal" hx-swap="outerHTML"
          class="w-[80px] inline-flex cursor-pointer items-center justify-center text-white bg-red-400 hover:bg-red-500 select-none font-medium rounded-lg text-sm px-4 py-2 text-center transition-transform duration-300 active:scale-95">
          Delete
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content%}