{% extends 'layouts/b.html' %}
{% load static %}

{% block title %}Create Contact -{% endblock title %}

{% block content %}
<section class="bg-white ">
  <div class="py-8 sm:py-16 px-4 mx-auto max-w-2xl ">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 ">Create Contact</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'partials/contact_form.html' %}
      <button type="submit"
        class="w-[80px]  px-4 py-2 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-500 rounded-lg hover:bg-primary-700 select-none transition-transform duration-300 active:scale-95">
        Save
      </button>
      <a class="w-[80px] justify-center inline-flex items-center px-4 py-2 ml-2 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-400 rounded-lg hover:bg-red-500 select-none transition-transform duration-300 active:scale-95"
        href="{{ request.META.HTTP_REFERER }}">Cancel</a>
      <img src="{% static 'img/dice.svg' %}" title="Fill Random Data?" hx-get="{% url 'a_contacts:fake-contact-create' %}" hx-target="#contact-create-form" hx-swap="outerHTML"
        class="inline-block ml-4 h-8 select-none transition-transform duration-300 hover:scale-125 active:scale-95">
      </img>
    </form>
  </div>
</section>
{% endblock content%}