{% extends 'layouts/a.html' %}

{% block content %}

<div class="bg-white relative sm:rounded-lg overflow-hidden">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div class="w-full md:w-1/2">
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <input type="text" id="simple-search" name="search_text" value="{{ search_text }}" hx-get="{% url 'a_contacts:home' %}"
            hx-trigger="keyup changed delay:500ms" hx-target="#table-body" hx-swap="outerHTML" hx-push-url="true"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-primary-500 block w-full pl-10 p-2"
            placeholder="Search" required="">
        </div>
      </form>
    </div>
    <div
      class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
      <div x-data="{dropdownOpen: false}" @click.away="dropdownOpen = false" class="relative flex items-center space-x-3 w-full md:w-auto">
        <a href="{% url 'a_contacts:contact-create' %}" class="w-full md:w-auto">
          <button @click="dropdownOpen = false" type="button" class="w-full md:w-auto justify-center inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-primary-500 rounded-lg hover:bg-primary-700
          select-none transition-transform duration-300 active:scale-95">
            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path clip-rule="evenodd" fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
            </svg>
            Add Contact
          </button>
        </a>
        <button @click="dropdownOpen = !dropdownOpen"
          class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 bg-gray-50 rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10"
          type="button">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 " viewbox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
              clip-rule="evenodd" />
          </svg>
          Filter
          <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
          </svg>
        </button>
        <div x-show="dropdownOpen" x-cloak class="absolute  top-12 right-0 z-10 w-40 p-2 bg-gray-50 rounded-lg shadow"
          x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
          x-transition:enter-end="opacity-100 translate-y-0 scale-100" x-transition:leave="duration-300 ease-out"
          x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-5">
          <ul class="space-y-2 text-sm select-none" aria-labelledby="filterDropdownButton">
            <li class="flex items-center">
              <input id="lead" type="checkbox" value="" class="w-4 h-4 border-gray-300 rounded-lg">
              <label for="lead" class="ml-2 text-sm p-2 text-gray-700 ">Leads ({{ lead_count }})</label>
            </li>
            <li class="flex items-center">
              <input id="prospect" type="checkbox" value="" class="w-4 h-4  border-gray-300 rounded-lg">
              <label for="prospect" class="ml-2 text-sm p-2 text-gray-700">Prospects ({{ prospect_count }})</label>
            </li>
            <li class="flex items-center">
              <input id="customer" type="checkbox" value="" class="w-4 h-4  border-gray-300 rounded-lg">
              <label for="customer" class="ml-2 text-sm p-2 text-gray-700 ">Customers ({{ customer_count }})</label>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 mb-40">
      <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
        <tr>
          <th scope="col" class="hidden sm:table-cell px-4 py-3">S.No.</th>
          <th scope="col" class="px-4 py-3">ID</th>
          <th scope="col" class="px-4 py-3">Name</th>
          <th scope="col" class="hidden sm:table-cell px-4 py-3">Email</th>
          <th scope="col" class="hidden lg:table-cell px-4 py-3">Location</th>
          <th scope="col" class="px-4 py-3">Type</th>
          <th scope="col" class="px-4 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      {% include 'includes/table_data.html' %}
    </table>
  </div>

</div>

{% endblock content%}