{% load static %}
<header x-data="{ mobileNavOpen: false }"
  class="md:flex items-center justify-between [&>*]:px-8 h-16 bg-gray-800 text-white sticky top-0 z-50 select-none">
  <div class="flex items-center justify-between h-16">
    <logo>
      <a class="flex items-center gap-1" href="{% url 'a_contacts:home' %}">
        <img class="h-6" src="{% static 'img/logo.svg' %}" alt="infinity-logo">
        <span class="font-sans font-extrabold">CRM</span>
      </a>
    </logo>
    <mobileicon class="md:hidden">
      <a @click="mobileNavOpen = !mobileNavOpen"
        class="size-12 flex items-center justify-center cursor-pointer select-none hover:bg-gray-700 rounded-lg">
        <img x-show="!mobileNavOpen" class="size-6" src="{% static 'img/menu.svg' %}" alt="hamburger-menu">
        <img x-show="mobileNavOpen" x-cloak class="size-6" src="{% static 'img/close.svg' %}" alt="close-button">
      </a>
    </mobileicon>
  </div>
  <nav x-show="mobileNavOpen" x-cloak
    class="md:!block bg-gray-800 h-screen w-screen md:h-auto md:w-auto -mt-26 md:mt-0 absolute md:relative z-[-1]"
    x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-96"
    x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="duration-300 ease-out"
    x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-96">
    <ul class="flex items-center flex-col md:flex-row gap-8 md:gap-2 justify-center h-full -translate-y-10 md:translate-y-0">
      {% if user.is_authenticated %}
      <li x-data="{ dropdownOpen: false}" class="relative">
        <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="select-none navitem">
          Export
          <img x-bind:class="dropdownOpen ? 'rotate-180 duration-300' : '' " class="w-4 mt-1" src="{% static 'img/expand-arrow.svg' %}"
            alt="">
        </a>
        <div x-show="dropdownOpen" x-cloak class="absolute top-14 right-0 bg-gray-50 text-gray-700 shadow rounded-lg w-40 p-2 z-20"
          x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
          x-transition:enter-end="opacity-100 translate-y-0 scale-100" x-transition:leave="duration-300 ease-out"
          x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-5">
          <ul class="menulist [&>li:active]:bg-primary-200">
            <li><a id="export-csv" hx-get="{% url 'a_contacts:export-data-csv' %}" hx-swap="none">Export CSV</a></li>
            <li><a id="export-pdf" hx-get="{% url 'a_contacts:export-data-pdf' %}" hx-swap="none">Export PDF</a></li>
          </ul>
        </div>
      </li>
      {% endif %}
      <li x-data="{ dropdownOpen: false}" class="relative">
        <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="select-none navitem">
          <img class="h-6 outline-double outline-gray-700 rounded-full object-cover bg-primary-500" src="{% static 'img/user.svg'%}"
            alt="user-avatar">
          {% if user.is_authenticated %}
          {{ user.username }}
          {% else %}
          Guest User
          {% endif %}
          <img x-bind:class="dropdownOpen ? 'rotate-180 duration-300' : '' " class="w-4 mt-1" src="{% static 'img/expand-arrow.svg' %}"
            alt="">
        </a>
        <div x-show="dropdownOpen" x-cloak class="absolute top-14 right-0 bg-gray-50 text-gray-700 shadow rounded-lg w-40 p-2 z-20"
          x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
          x-transition:enter-end="opacity-100 translate-y-0 scale-100" x-transition:leave="duration-300 ease-out"
          x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-5">
          {% if user.is_authenticated %}
          <ul class="menulist">
            <li><a href="{% url 'accounts:employee-detail' user.pk %}">My Profile</a></li>
            <li class="hover:bg-red-200"><a href="{% url 'account_logout' %}">Log Out</a></li>
          </ul>
          {% else %}
          <ul class="menulist">
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            <li class="hover:bg-green-200"><a href="{% url 'account_signup' %}">Sign Up</a></li>
          </ul>
          {% endif %}
        </div>
      </li>
    </ul>
  </nav>
</header>