<table class="w-full text-sm text-left text-gray-500">
  <thead class="text-xs text-gray-700 uppercase bg-gray-200 ">
    <tr>
      <th scope="col" class="hidden sm:table-cell px-4 py-3 select-none">S.No.</th>
      <th scope="col" id="table" class="px-4 py-3 select-none">ID</th>
      <th scope="col" class="px-4 py-3 select-none">Name</th>
      <th scope="col" class="hidden sm:table-cell px-4 py-3 select-none">Email</th>
      <th scope="col" class="hidden lg:table-cell px-4 py-3 select-none">Location</th>
      <th scope="col" class="px-4 py-3 select-none">Type</th>
      <th scope="col" class="px-4 py-3">
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody id="table-body">
    {% include 'partials/table_row.html' %}
  </tbody>
</table>