{% extends 'layouts/b.html' %}
{% load static %}

{% block title %}Update Employee -{% endblock title %}

{% block content %}
<section class="bg-white ">
  <div class="py-8 px-4 mx-auto max-w-2xl sm:py-16">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 ">Update Employee</h2>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div x-data="{
            fileInput: null,
            image: null,
            previewImage(event) {
              const file = event.target.files[0];
              if (file && file.type.includes('image')) {
                const url = URL.createObjectURL(file);
                this.image.src = url;
              }
            }
          }" x-init="fileInput = $refs.fileInput; image = $refs.profileImage"
          class="sm:col-span-2 flex flex-col sm:flex-row gap-4 sm:justify-between">
          <div class="flex flex-col items-center">
            <label for="profile-image" class="block w-max mb-2 text-sm font-medium text-gray-900">Profile Image</label>
            <img x-ref="profileImage" id="profile-image" class="w-20 h-20 border border-gray-500 object-cover rounded-full bg-primary"
              alt="Profile Image" {% if employee and employee.image %} src="{{ employee.image.url }}" {% else %}
              src="{% static 'img/image-placeholder.png' %}" {% endif %}>
          </div>
          <div class="flex flex-col justify-end w-full">
            <label class="block mb-2 text-sm font-medium text-gray-900 sm:text-right" for="file_input">Upload image</label>
            {{ form.image }}
            {{ form.image.errors }}
            <p class="mt-1 text-xs text-gray-500 text-right" id="file_input_help">Supports only PNG, JPG or WEBP files.</p>
          </div>
        </div>
        <div class="w-full">
          <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 ">First Name</label>
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </div>
        <div class="w-full">
          <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div class="w-full">
          <label for="location" class="block mb-2 text-sm font-medium text-gray-900 ">Location</label>
          {{ form.location }}
        </div>
        <div>
          <label for="role" class="block mb-2 text-sm font-medium text-gray-900 ">Role</label>
          {{ form.role }}
        </div>
      </div>
      <button type="submit"
        class=" w-[80px] justify-center inline-flex items-center px-4 py-2 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-500 rounded-lg hover:bg-primary-700 select-none transition-transform duration-300 active:scale-95">
        Save
      </button>
      <a class="w-[80px] justify-center inline-flex items-center px-4 py-2 ml-2 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-red-400 rounded-lg hover:bg-red-500 select-none transition-transform duration-300 active:scale-95"
        href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </form>
  </div>
</section>
{% endblock content%}